
                <!-- Start Main Content -->
                <div class="col-md-8">
                    
                    <div class="row">
                        <carousel>
                            <slide>
                                <img src="img/slider-1.jpg" alt="First slide"/>
                            </slide>
                            <slide>
                                <img src="img/slider-1.jpg" alt="Second slide"/>
                            </slide>
                            <slide>
                                <img src="img/slider-1.jpg" alt="Third slide"/>
                            </slide>
                        </carousel>
                    </div>

                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                                    <div class="widget-title">
                                        <h3>Politics</h3>
                                    </div>
                                    <div class="span4 featured-news">

                                        <img alt="" src="img/politics.jpg"/>
                                        <a href="single.html"><h4>Up nominated one of the best movies to be created by disney</h4></a>
                                        <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                        <p>Maecenas mattis, tortor ut posuere aliquam, quam enim accumsan purus, auctor placerat orci velit vitae massa. Vivamus non iaculis</p>


                                    </div>
                                    <div class="span4 recent-news">

                                        <div class="item-news">
                                            <a href="single.html"><img alt="" src="img/hillary_clinton.jpg" /></a>
                                            <a href="single.html"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                            <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                        </div>
                                        <div class="item-news">
                                            <a href="single.html"><img alt="" src="img/hillary_clinton.jpg" /></a>
                                            <a href="single.html"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                            <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                        </div>
                                        <div class="item-news">
                                            <a href="single.html"><img alt="" src="img/hillary_clinton.jpg" /></a>
                                            <a href="single.html"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                            <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="widget-title">
                                        <h3>Business</h3>
                                    </div>
                                    <div class="span4 featured-news">

                                       <img alt="" src="img/business.jpg"/>
                                        <a href="single.html"><h4>Up nominated one of the best movies to be created by disney</h4></a>
                                        <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ...</p>


                                    </div>
                                    <div class="span4 recent-news">

                                        <div class="item-news">
                                            <a href="single.html"><img alt="" src="img/80x60-1.jpg" /></a>
                                            <a href="single.html"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                            <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                        </div>
                                        <div class="item-news">
                                            <a href="single.html"><img alt="" src="img/80x60-1.jpg" /></a>
                                            <a href="single.html"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                            <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                        </div>
                                        <div class="item-news">
                                            <a href="single.html"><img alt="" src="img/80x60-1.jpg" /></a>
                                            <a href="single.html"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                            <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                        </div>
                                    </div>
                                </div>
                    </div>


                            
                            <br/>
                            <div class="row">
                                    <div class="widget-title">
                                        <h3>Sports</h3>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="img/370x255-1.jpg"/>
                                            <div class="inner-news-title fixed">
                                                <h2><a href="single.html">Sport Title</a></h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit integer id nibh ac est.</p>
                                            </div>

                                        </div>
                                        <div class="col-md-6">

                                            <div class="item-news">
                                                <a href="single.html"><img alt="" src="img/rooney.jpg" /></a>
                                                <a href="single.html"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                                <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                            </div>
                                            <div class="item-news">
                                                <a href="single.html"><img alt="" src="img/rooney.jpg" /></a>
                                                <a href="single.html"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                                <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                            </div>
                                            <div class="item-news">
                                                <a href="single.html"><img alt="" src="img/rooney.jpg" /></a>
                                                <a href="single.html"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                                <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <br/>
                    </div>