


<footer id="footer">
    <div class="row footer-line"></div>
    <div class="row">
        <div class="col-md-8">
            <ul>
                <li><a routerLink="./" routerLinkActive="active" >Trang chủ</a></li>
                <li><a [routerLink] = "['./category', 'thế giới']" >Thế giới</a></li>
                <li><a [routerLink] = "['./category', 'kinh doanh']" >Kinh doanh</a></li>
                <li><a [routerLink] = "['./category', 'pháp luật']" >Pháp luật</a></li>
                <li><a [routerLink] = "['./category', 'thể thao']" >Thể thao</a></li>
                <li><a [routerLink] = "['./category', 'công nghệ']" >Công nghệ</a></li>
                <li><a [routerLink] = "['./category', 'sức khỏe']" >Sức khỏe</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <a id="btn-top" (click) = "onGoTop()"> Về đầu trang</a>
        </div>
    </div>
    <div class="row footer-line"></div>

    <div class="row" style="margin-bottom: 20px;">
        <h5 class="copyright">Khóa luận tốt nghiệp 2016-2017</h5>
        <p class="powered-by">Sinh viên thực hiện : <br>
            <a style="margin-left: 20px" href="https://github.com/khacchinh">13520079 Huỳnh Khắc Chinh</a><br>
            <a style="margin-left: 20px" href="#">13520281 Nguyễn Thị Ngọc Hoa</a>
        </p>
    </div>
</footer>