                <div class="col-md-8">

                    <div class="row">
                        <ul class="breadcrumb col-md-11">
                            <li><a href="#">Home</a> <span>/</span></li>
                            <li class="active">Thời sự</li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="span8 single">
                            <h2>Up nominated one of the best movies to be created by disney</h2>
                            <span class="date">Posted on July 02, 2011 | 0 comments</span>
                            <img alt="" src="img/feat-category.jpg" />
                            <p>
                                Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex.
                            </p>
                            <p>
                                Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex, …
                            </p>
                            <p>
                                Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex.
                            </p>
                            <p>
                                Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex, …
                            </p>
                            <p>
                                Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex.
                            </p>
                            <p>
                                Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex, …
                            </p>

                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="col-sm-12">About the Author</h4>
                            <p>
                                <img alt="" src="http://placehold.it/80x100" class="img-thumbnail col-sm-5" style="margin-right: 5px;"/>
                                <strong>Demouser</strong>, fusce eleifend odio vitae mi fringilla at euismod nisi imperdiet. Etiam pellentesque, magna eget lobortis placerat, leo leo consequat ante, non iaculis turpis augue ligula. Nunc blandit tincidunt consequat.
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h4>Related Posts</h4>
                            <ul class="nav navbar">
                                <li>
                                    <a href="blog.html">Odio vitae mi fringilla at euismod nisi imperdiet</a>
                                </li>
                                <li>
                                    <a href="blog.html">Odio vitae mi fringilla at euismod nisi imperdiet</a>
                                </li>
                                <li>
                                    <a href="blog.html">Odio vitae mi fringilla at euismod nisi imperdiet</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Leave a Comment</h4>
                            <form class="form-horizontal">
                                <fieldset>

                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">Name:</label>
                                        <div class="controls">
                                            <input type="text" placeholder="your name" id="focusedInput" class="focused span4">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">E-Mail:</label>
                                        <div class="controls">
                                            <input type="text" placeholder="your email" class="span4">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="textarea" class="control-label">Message</label>
                                        <div class="controls">
                                            <textarea rows="3" id="textarea"  placeholder="your message" class="span4"></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="textarea" class="control-label">&nbsp;</label>
                                        <div class="controls">
                                            <button class="btn btn-primary pull-left"  type="submit">Submit</button>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>


                </div>