<!-- Start Right Sidebar -->
                <div class="col-md-4">

                    <div class="row" style="margin: 0px;">
                        <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && performSeach()" #f="ngForm" method="#" novalidate>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !paramssearch.valid }">
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Nhập từ khóa tìm kiếm" [(ngModel)]="paramsSearch" name="paramssearch" #paramssearch ="ngModel" type="text" >
                                    <div *ngIf="f.submitted && !paramssearch.valid" class="help-block">Nhập từ khóa tìm kiếm</div>
                                </div>
                                <button class="btn col-sm-2" type="submit">Tìm kiếm</button>
                            </div>
                        </form>
                    </div>
                    <br/>

                    <div class="row">
                        <tabset [justified]="true">
                            <tab heading="Popular">

                                <div *ngFor="let item of pupolarnews;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a [routerLink]="['./single', item._id]" ><img alt="" src="{{item.img}}" class="img-thumbnail"/></a>
                                        </div>
                                        <div class="col-sm-8">
                                            <a [routerLink]="['./single', item._id]"><p>{{item.title}}</p></a>
                                            <span class="date"><small>Posted on July 02, 2011 | 0 comments</small></span>
                                        </div>
                                    </div>
                                    <div class="clear-fix"></div>
                                </div>
                                
                            </tab>

                            <tab heading="Comments">

                                <div *ngFor="let item of commentnews;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a [routerLink]="['./single', item._id]" ><img alt="" src="{{item.img}}" class="img-thumbnail"/></a>
                                        </div>
                                        <div class="col-sm-8">
                                            <a [routerLink]="['./single', item._id]"><p>{{item.title}}</p></a>
                                            <span class="date"><small>Posted on July 02, 2011 | 0 comments</small></span>
                                        </div>
                                    </div>
                                    <div class="clear-fix"></div>
                                </div>
                            </tab>

                            <tab heading="Tags">
                                
                            </tab>
                        </tabset>
                    </div>
                    <br/>
                    <!-->    
                    <div class="row">
                        <div class="span4 box-widget">
                            <div class="widget-title">
                                <h3>Latest Photos</h3>
                            </div>
                            <div class="span4 box-widget">
                                <ul class="">
                                    <li class="img-thumbnail ">
                                        <a href="galleries.html"><img alt="" src="asset/img/70x70-1.jpg" /></a>
                                    </li>       
                                    <li class="img-thumbnail ">
                                        <a href="galleries.html"><img alt="" src="asset/img/70x70-1.jpg" /></a>
                                    </li> 
                                    <li class="img-thumbnail ">
                                        <a href="galleries.html"><img alt="" src="asset/img/70x70-1.jpg" /></a>
                                    </li> 
                                    <li class="img-thumbnail ">
                                        <a href="galleries.html"><img alt="" src="asset/img/70x70-1.jpg" /></a>
                                    </li> 
                                    <li class="img-thumbnail ">
                                        <a href="galleries.html"><img alt="" src="asset/img/70x70-1.jpg" /></a>
                                    </li> 
                                    <li class="img-thumbnail ">
                                        <a href="galleries.html"><img alt="" src="asset/img/70x70-1.jpg" /></a>
                                    </li> 
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="">
                            <div class="col-sm-6">
                                <div class="widget-title">
                                    <h3>Categories</h3>
                                </div>
                                <ul class="nav">
                                    <li><a href="blog.html">Category Item</a></li>
                                    <li><a href="blog.html">Category Item</a></li>
                                    <li><a href="blog.html">Category Item</a></li>
                                </ul>
                            </div>

                            <div class="col-sm-6">
                                <div class="widget-title">
                                    <h3>Archives</h3>
                                </div>
                                <ul class="nav">
                                    <li><a href="blog.html">January 2012 <span class="post-count">(34)</span></a></li>
                                    <li><a href="blog.html">February 2012 <span class="post-count">(10)</span></a></li>
                                    <li><a href="blog.html">March 2012 <span class="post-count">(7)</span></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <-->
                    <br/>
                </div>
                <!-- End Right Sidebar -->