        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Manager Users</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <alert></alert>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            List users
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                            <th>Active</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor = "let item of allUser">
                                            <td>1</td>
                                            <td>{{item.username}}</td>
                                            <td>{{item.password}}</td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.access}}</td>
                                            <td class="{{item._id}}">{{item.active}}</td>
                                            <td>
                                                <a type="button" class="btn btn-primary" [routerLink] = "['./', item._id]"><i class="fa fa-gear fa-fw"></i></a>
                                                <button type="button" class="btn btn-danger" (click)="delActive(item)" id = "{{item._id}}" [disabled] = "btnDisabled(item.active)"><i class="fa fa-times fa-fw "></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>