        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Manager News</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div col-lg-12>
                    
                    <alert></alert>
                    <div class = "row">
                        <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && performSeach()" #f="ngForm" method="#" novalidate>
                            <div class = "col-md-2 search-author">
                                <select class="form-control" ng-init="model.author='none'" [(ngModel)]="model.author" name="selectauthor">
                                    <option value=undefined>Choose author</option>
                                    <option *ngFor = "let item of author" [ngValue] = "item.id">{{item.name}}</option>
                                </select>
                            </div>
                            <div class = "col-md-2 search-category">
                                <select class="form-control" ng-init="model.category='none'" [(ngModel)]="model.category" name="selectedcategory">
                                    <option value=undefined>Choose category</option>
                                    <option *ngFor = "let item of category" [ngValue] = "item.id">{{item.name}}</option>
                                </select>
                            </div>
                            <div class = "col-md-4 search-title">
                                <input type="text" class="form-control" [(ngModel)]="model.title"  name="title" #title = "ngModel" placeholder="Please insert key search!!!" >
                            </div>
                            <div class = "col-md-1 search-title">
                                <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div class="panel panel-default row">
                        <div class="panel-heading">
                            List news
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Author</th>
                                            <th>Category</th>
                                            <th>Public Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr *ngFor = "let item of pagedItems">
                                            <td><a [routerLink]="['../../site/single', item._id]">{{item.title}}</a></td>
                                            <td>{{item.author}}</td>
                                            <td>{{item.category}}</td>
                                            <td>{{item.date_public}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" (click)="delActive(item._id)" ><i class="fa fa-times fa-fw"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <!-- pager -->
                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="setPage(1)">Đầu</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="setPage(pager.currentPage - 1)">Sau</a>
                                </li>
                                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                    <a (click)="setPage(page)">{{page}}</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="setPage(pager.currentPage + 1)">Tiếp theo</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="setPage(pager.totalPages)">Cuối</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>