.col-md-5.img-thumbnail{
    padding: 2px;
}

.col-sm-11 a h4{
    margin-top: 0px;
}

.col-sm-11 a, .col-md-7 a{
    color: black;
}

.col-sm-11 a:hover, .col-md-7 a:hover{
    color: #337ab7;
    text-decoration: none;
}

.col.category-item-img {
    width: 18%;
    float: left;
    
}

.category-item-img{
    margin-left: 10px;
    margin-top: 10px;
    height: 110px;
}

.col-sm-2 {
    width: 80%;
    float: right;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 10px;
}

.col-sm-9 {
    padding-left: 0px;
    margin-left: 17px;
}

img.img-thumbnail {
    height: 100%;
    width: 100%;
}

.clear-fix.col-sm-11 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.row.title{
    margin-top: 10px;
}

.title{
    padding-left: 0px ! important;
}

.item-news{
    margin-left: 5px;
}

@media screen and (max-width: 480px){

    .col-md-5.img-thumbnail {
        width: 100%;
    }

    .col-sm-11 {
        width: 90%;
        float: left;
        padding-right: 0px;
    }

    .col-sm-1.cate-save-new{
        padding-left: 0px;
        margin-right: 5px;
        width: 5%;
        float: right;
        display: none;
    }

    .col-sm-3.category-item-img {
        width: 35%;
        margin-left: -10px;
        float: left;
    }

    .col.category-item-img {
        width: 35%;
        float: left;
    }

    .col-sm-8{
        overflow: auto;
        width: 65%;
        float: left;
            padding-left: 9px;
    }

    .row.content {
        display: none;
    }
}