.col-md-5.img-thumbnail{
    padding: 2px;
}

.col-sm-11 a h4{
    margin-top: 0px;
}

.col-sm-11 a, .col-md-7 a{
    color: black;
}

.col-sm-11 a:hover, .col-md-7 a:hover{
    color: #337ab7;
    text-decoration: none;
}