.date{
    margin-left: 2px;
}

.item-news{
    margin-top: 5px;
}

.clear-fix{
    margin: 0px;
    border-bottom: 1px dotted black;
}

.caption {
        width:90%;
        bottom: .3rem;
        position: absolute;
}

.caption p {
        color: #fff;
        -webkit-font-smoothing: antialiased;
}

.category-item-img{
    margin-left: 10px;
    margin-top: 10px;
}

.col-sm-9{
    padding-left: 0px;
}

textarea{
    resize: none;
}

.col-sm-4 a .img-thumbnail{
    padding: 2px;
    height: 75px;
    width: 100%;
}

.col-sm-8{
    padding-left: 0px;
}

.col-sm-8 a p{
    margin: 0px;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
    text-decoration: underline;
}

/*img zing*/
td.pic img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* video zing */
video{
    width: 100%;
}
figure.video{
    float: left;
    width: 100%;
    overflow: hidden;
    margin: 14px 0 20px;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.VCSortableInPreviewMode[type="Photo"] {
    display: block;
    margin: 10px 21px !important;
    background-color: #eee;
    font-size: 13px;
    font-family: "tahoma";
}

.VCSortableInPreviewMode[type="Photo"] div img{
    width: 100%;
}

.VCSortableInPreviewMode[type=Photo] .PhotoCMS_Caption {
    padding: 5px;
    text-align: center;
}

article.story.clearfix {
    display: none;
}