            <!-- Start Header-->
            <div class="row">
                <div class="top-menu">
                        <div class="row-md-col6">
                            <ul class="nav navbar-nav">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="page.html">Page</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="galleries.html">Galleries</a></li>
                                <li><a href="contact.html">Contact</a></li>

                            </ul>
                        </div>      
                        <div class="row-md-col6">
                            <ul class="nav navbar-nav" style="float: right;" *ngIf="isLogin">
                                <li><a [routerLink]="['./login']">Login</a></li>
                                <li><a [routerLink]="['./register']">Register</a></li>
                            </ul>
                            <ul class="nav navbar-nav" style="float: right;" *ngIf="!isLogin">
                                <li><a>{{user?.name}}</a></li>
                                <li><button (click)="logout($event)">Logout</button></li>
                            </ul>
                        </div>           
                </div>
            </div>
            <div class="row">
                <div class="row-md-col12">
                    <div class="span4 logo">
                        <a href="index.html">
                            <h1 class="logo-title">KhacChinhDev News</h1>
                        </a>
                        <span class="slogan">Project Thesis UIT</span>
                    </div>
                </div>
            </div>
            <br/>
            <!-- End Header-->

            <!-- Start Main Navigation -->
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                        <a class="navbar-brand" href="#">WebSiteName</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active"><a routerLink="./" routerLinkActive="active" >Home</a></li>
                            <li><a routerLink="./wordsegment" routerLinkActive="active" >Word Segment</a></li>
                            <li><a [routerLink] = "['./category', 'thời sự']" >Thời sự</a></li>
                            <li><a [routerLink] = "['./category', 'thế giới']" >Thế giới</a></li>
                            <li><a [routerLink] = "['./category', 'kinh doanh']" >Kinh doanh</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            
              
     