            <!-- Start Header-->
            <div class="row">
                <div class="top-menu">
                        <div class="row-md-col6">
                        </div>      
                        <div class="row-md-col6">
                            <ul class="nav navbar-nav" style="float: right;" *ngIf="isLogin">
                                <li><a [routerLink]="['./login']">Login</a></li>
                                <li><a [routerLink]="['./register']">Register</a></li>
                            </ul>
                            <ul class="nav navbar-nav" style="float: right;" *ngIf="!isLogin">
                                <li><a>{{user?.name}}</a></li>
                                <li><button (click)="logout($event)">Logout</button></li>
                            </ul>
                        </div>           
                </div>
            </div>
            <div class="row">
                <div class="row-md-col12">
                    <div class="span4 logo">
                        <a href="index.html">
                            <h1 class="logo-title">KhacChinhDev News</h1>
                        </a>
                        <span class="slogan">Project Thesis UIT</span>
                    </div>
                </div>
            </div>
            <br/>
            <!-- End Header-->

            <!-- Start Main Navigation -->
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li class="active"><a routerLink="./" routerLinkActive="active" >Home</a></li>
                            <li><a [routerLink] = "['./category', 'thế giới']" >Thế giới</a></li>
                            <li><a [routerLink] = "['./category', 'kinh doanh']" >Kinh doanh</a></li>
                            <li><a [routerLink] = "['./category', 'pháp luật']" >Pháp luật</a></li>
                            <li><a [routerLink] = "['./category', 'thể thao']" >Thể thao</a></li>
                            <li><a [routerLink] = "['./category', 'công nghệ']" >Công nghệ</a></li>
                            <li><a [routerLink] = "['./category', 'sức khỏe']" >Sức khỏe</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            
              
     