                <div class="col-md-8">
                    <div class="row">
                        <ul class="breadcrumb col-md-11">
                            <li><a href="#">Home</a> <span>/</span></li>
                            <li class="active">Thời sự</li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-md-5 img-thumbnail">
                            <a [routerLink]="['../single']"><img alt="" src="img/feat-category.jpg" /></a>
                        </div>
                        <div class="col-md-7">
                            <a [routerLink]="['../single']" style="font-size: 2em;">Up nominated one of the best movies to be created by disney</a>
                            <span class="date">Posted on July 02, 2011 | 0 comments</span>
                            <p>
                                Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex.
                            </p>
                            <p>
                                Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex, …
                            </p>
                            <a [routerLink]="['../single']">Continue reading</a>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="row category-item">
                            <div class="col-sm-2 category-item-img">
                                <a [routerLink]="['../single']"><img alt="" src="img/80x60-1.jpg" class="img-thumbnail"/></a>
                            </div>
                            <div class="col-sm-9">
                                <a [routerLink]="['../single']"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                <p>
                                    Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex, …
                                </p>
                            </div>
                        </div> 
                        <div class="clear-fix col-sm-11"></div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="row category-item">
                            <div class="col-sm-2 category-item-img">
                                <a [routerLink]="['../single']"><img alt="" src="img/80x60-1.jpg" class="img-thumbnail"/></a>
                            </div>
                            <div class="col-sm-9">
                                <a [routerLink]="['../single']"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                <p>
                                    Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex, …
                                </p>
                            </div>
                        </div> 
                        <div class="clear-fix col-sm-11"></div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="row category-item">
                            <div class="col-sm-2 category-item-img">
                                <a [routerLink]="['../single']"><img alt="" src="img/80x60-1.jpg" class="img-thumbnail"/></a>
                            </div>
                            <div class="col-sm-9">
                                <a [routerLink]="['../single']"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                <p>
                                    Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex, …
                                </p>
                            </div>
                        </div> 
                        <div class="clear-fix col-sm-11"></div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="row category-item">
                            <div class="col-sm-2 category-item-img">
                                <a [routerLink]="['../single']"><img alt="" src="img/80x60-1.jpg" class="img-thumbnail"/></a>
                            </div>
                            <div class="col-sm-9">
                                <a [routerLink]="['../single']"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                <p>
                                    Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex, …
                                </p>
                            </div>
                        </div> 
                        <div class="clear-fix col-sm-11"></div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="row category-item">
                            <div class="col-sm-2 category-item-img">
                                <a [routerLink]="['../single']"><img alt="" src="img/80x60-1.jpg" class="img-thumbnail"/></a>
                            </div>
                            <div class="col-sm-9">
                                <a [routerLink]="['../single']"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                <p>
                                    Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex, …
                                </p>
                            </div>
                        </div> 
                        <div class="clear-fix col-sm-11"></div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="row category-item">
                            <div class="col-sm-2 category-item-img">
                                <a [routerLink]="['../single']"><img alt="" src="img/80x60-1.jpg" class="img-thumbnail"/></a>
                            </div>
                            <div class="col-sm-9">
                                <a [routerLink]="['../single']"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                <p>
                                    Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex, …
                                </p>
                            </div>
                        </div> 
                        <div class="clear-fix col-sm-11"></div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="row category-item">
                            <div class="col-sm-2 category-item-img">
                                <a [routerLink]="['../single']"><img alt="" src="img/80x60-1.jpg" class="img-thumbnail"/></a>
                            </div>
                            <div class="col-sm-9">
                                <a [routerLink]="['../single']"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                <p>
                                    Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex, …
                                </p>
                            </div>
                        </div> 
                        <div class="clear-fix col-sm-11"></div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="row category-item">
                            <div class="col-sm-2 category-item-img">
                                <a [routerLink]="['../single']"><img alt="" src="img/80x60-1.jpg" class="img-thumbnail"/></a>
                            </div>
                            <div class="col-sm-9">
                                <a [routerLink]="['../single']"><h4>Toy Story 3 One of the best movies (Video)</h4></a>
                                <span class="date">Posted on July 02, 2011 | 0 comments</span>
                                <p>
                                    Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo alienum maluisset. Veri equidem liberavisse vim et, erat delenit nostrum ut sed. Cum harum audire signiferumque ex, …
                                </p>
                            </div>
                        </div> 
                        <div class="clear-fix col-sm-11"></div>
                    </div>

                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-md"
                                    [boundaryLinks]="true"></pagination>
                        </div>
                        <pre class="card card-block card-header">Page: {{bigCurrentPage}} / {{numPages}}</pre>
                    </div>

                </div>