                <div class="col-md-8">

                    <div class="row">
                        <ul class="breadcrumb col-md-11">
                            <li><a href="#">Home</a> <span>/</span></li>
                            <li class="active">{{new_item?.category}}</li>
                        </ul>
                    </div>

                    <div class="row news-main">
                        <div class="span8 single">
                            <span class="date">{{convertDate(new_item?.date_public)}} | {{new_item?.view_count}} views | {{new_item?.comment.length}} comments</span><br>
                            <div class="row social">
                                <a href="" *ngIf="!checkIsFavoriteNews(new_item?._id)" (click)="saveFavoriteNewsUser(new_item)"><i class="fa fa-heart-o fa-fw"></i></a>
                                <i class="fa fa-heart fa-fw" *ngIf="checkIsFavoriteNews(new_item?._id)"></i>
                                <a href="" *ngIf="!checkIsBookmarkNews(new_item?._id)" (click)="saveBookmarkNewsUser(new_item)"><i class="fa fa-bookmark-o fa-fw"></i></a>
                                <i class="fa fa-bookmark fa-fw" *ngIf="checkIsBookmarkNews(new_item?._id)"></i>
                            </div>
                            <h2>{{new_item?.title}}</h2>
                            <h4>{{new_item?.sumary}}</h4>
                            <div class="news-content" [innerHTML]= contentHtml>
                            </div>

                        </div>
                    </div>

                     <div class="row">
                        <div class="col-sm-12">
                            <p>Nguồn: {{new_item?.author}}</p>
                            <p>Địa chỉ: <a [href] = "new_item?.url">{{new_item?.url}}</a></p>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="post-taglist">
                                <a class="post-tag" >Tags</a>
                                <a class="post-tag" href="#" *ngFor = "let item of tags">
                                   {{item}}
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <h4>Related Posts</h4>
                            <ng-container *ngIf = "relative_new?.length > 0">
                            <ul class="nav navbar">
                                <li *ngFor = "let item of relative_new">
                                    <a [routerLink]="['../', item._id]">{{item.title}}</a>
                                </li>
                            </ul>
                            </ng-container>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Leave a Comment</h4>
                            <form name="form" (ngSubmit)="f.form.valid && comment()" #f="ngForm" method="#" novalidate>
                                <fieldset>
                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" readonly required />
                                        <div *ngIf="f.submitted && !name.valid" class="help-block">Login for comment</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textarea">Comment</label>
                                        <textarea rows="3" class="form-control" name = "comments" [(ngModel)]="model.comments" #comments="ngModel" required  placeholder="your message" ></textarea>
                                        <div *ngIf="f.submitted && !comments.valid" class="help-block">Comment is required</div>
                                    </div>
                                   <div class="form-group">
                                        <button [disabled]="loading" class="btn btn-primary">Submit</button>
                                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <h4>List comment</h4>
                        <div style="max-height: 400px; overflow-y: auto;">
                            <div style="margin:  3px 5px; border: 1px solid slategrey; padding: 5px;" *ngFor = "let item of comments_new">
                                <h5><strong>{{item.userid}} <small>   Date comment: {{item.commentdate}}</small></strong></h5>
                                <br>
                                <p>{{item.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>