.caption{
    position: none;
}

.news-content{
    margin-top: 30px;
}

.span8.single {
    padding-right: 20px;
    overflow-x: auto;
}

.row.social{
    margin-left: 5px;
    margin-top: 5px;
}

.span8.single h2{
    margin-top: 7px;
}


.post-taglist {
    margin-bottom: 10px;
    clear: both;
}

.post-tag {
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    transition: all .15s ease-in-out;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;
    font-size: 12px;
}

a.post-tag:hover{
    background-color: transparent;
}

.main-comment {
    max-height: 400px;
    overflow: auto;
    margin-bottom: 13px;
}

.child-comment {
    padding: 5px;
}

.child-comment p{
    margin-left: 10px;
}

.form-group.last {
    float: right;
}

.row.comment {
    padding-left: 16px;
}

.line-comment{
    border-bottom: 1px solid gray;
    opacity: 0.1;
    height: 0px;
}

hr{
    margin: 0px;
}