.caption{
    position: none;
}

.news-content{
    margin-top: 30px;
}

.span8.single {
    padding-right: 20px;
    overflow-x: auto;
}

.row.social{
    margin-left: 5px;
    margin-top: 5px;
}

.span8.single h2{
    margin-top: 7px;
}

