                <div class="col-md-8">

                    <div class="row">
                        <ul class="breadcrumb col-md-11">
                            <li><a href="#">Home</a> <span>/</span></li>
                            <li class="active">{{new_item?.category}}</li>
                        </ul>
                    </div>

                    <div class="row news-main">
                        <div class="span8 single">
                            <span class="date">Posted on July 02, 2011 | 0 comments</span>
                            <h2>{{new_item?.title}}</h2>
                            <h4>{{new_item?.sumary}}</h4>
                            <div class="news-content" [innerHTML]= contentHtml>
                            </div>

                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="col-sm-12">About the Author</h4>
                            <p>
                                <img alt="" src="http://placehold.it/80x100" class="img-thumbnail col-sm-5" style="margin-right: 5px;"/>
                                <strong>Demouser</strong>, fusce eleifend odio vitae mi fringilla at euismod nisi imperdiet. Etiam pellentesque, magna eget lobortis placerat, leo leo consequat ante, non iaculis turpis augue ligula. Nunc blandit tincidunt consequat.
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h4>Related Posts</h4>
                            <ul class="nav navbar">
                                <li>
                                    <a href="blog.html">Odio vitae mi fringilla at euismod nisi imperdiet</a>
                                </li>
                                <li>
                                    <a href="blog.html">Odio vitae mi fringilla at euismod nisi imperdiet</a>
                                </li>
                                <li>
                                    <a href="blog.html">Odio vitae mi fringilla at euismod nisi imperdiet</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Leave a Comment</h4>
                            <form name="form" (ngSubmit)="f.form.valid && comment()" #f="ngForm" method="#" novalidate>
                                <fieldset>
                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" readonly required />
                                        <div *ngIf="f.submitted && !name.valid" class="help-block">Login for comment</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textarea">Comment</label>
                                        <textarea rows="3" class="form-control" name = "comments" [(ngModel)]="model.comments" #comments="ngModel" required  placeholder="your message" ></textarea>
                                        <div *ngIf="f.submitted && !comments.valid" class="help-block">Comment is required</div>
                                    </div>
                                   <div class="form-group">
                                        <button [disabled]="loading" class="btn btn-primary">Submit</button>
                                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <h4>List comment</h4>
                        <div style="max-height: 400px; overflow-y: auto;">
                            <div style="margin:  3px 5px; border: 1px solid slategrey; padding: 5px;" *ngFor = "let item of comments_new">
                                <h5><strong>{{item.userid}} <small>   Date comment: {{item.commentdate}}</small></strong></h5>
                                <br>
                                <p>{{item.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>