.col-md-6.img-thumbnail{
    width: 50%;
    height: 318px;
    padding: 2px;
    margin-top: 6px;
}

.col-md-6.img-thumbnail img{
    width: 100%;
    height: 100%;
}

.col-md-6.img-thumbnail .caption{
    margin-left: 3px;
}

.col-md-6.img-thumbnail .caption h2{
    margin-bottom: 1px;
}

.col-md-6.img-thumbnail .caption p{
    font-style: inherit;
    margin-left: 12px;
}

h2 a{
    font-size: 0.7em;
    color: darkgrey;
    text-decoration: none;
}

.row.item-news {
    height: 70px;
    margin-bottom: 9px;
}

.featured-news {
    height: autho;
    overflow: hidden;
    min-height: 385px;
}

.featured-news .img-thumbnail{
    width: 100%;
    height: 220px;
}

.carousel-caption a {
    color: blanchedalmond;
}

.carousel-caption a:hover {
    color: #337ab7;
    text-decoration: none;
}

.carousel-caption .label.label-primary{
    background-color: white;
    color: black;
}

.carousel-caption .label.label-primary:hover, h2 a:hover{
    color: #337ab7;
    text-decoration: none;
}

.widget-title.single {
    margin-left: 12px;
}

